<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script type="importmap">
        {
            "imports": {
                "lit": "https://cdn.jsdelivr.net/npm/lit@2.1.1/+esm",
                "lit-html/directives/style-map.js": "https://cdn.zywave.com/lit-html@2.1.1/directives/"
            }
        }
    </script>
    

    <div id="app"></div>

    <script type="module">
        import {render, html} from "lit"
        import {FavoritList} from "./favoritList.js"

        render(new FavoritList(html`<span></span>`, ()=> []), document.getElementById("app"))


    </script>
</body>
</html>