node_modules/

updateAssets/fetchWillhabenImmo/result.json
updateAssets/fetchWillhabenImmo/detailResult.json
updateAssets/fetchWillhabenImmo/ERROR.log
updateAssets/fetchWillhabenImmo/ERROR_NoCoords.log

static/private/token.js
backup/*
static/private/token.js
static/assets/input.json
