node_modules/

updateAssets/fetchWillhabenImmo/result.json
updateAssets/fetchWillhabenImmo/detailResult.json
updateAssets/fetchWillhabenImmo/ERROR.log
updateAssets/fetchWillhabenImmo/ERROR_NoCoords.log
updateAssets/fetchImmoScout/detailResult.json
updateAssets/fetchImmoScout/result.json
updateAssets/fetchImmoScout/lagacy_result.json


backup/*
static/private/token.js
static/assets/input.json
static/private/token.js


staticNewUI/private/token.js
staticNewUI/assets/input.json
staticNewUI/private/token.js

public/*